
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#header-main {
  font-family: Londrina Shadow;
  font-size: 1.6em;
  font-weight: bolder;
}

#header-sub {
  font-family: Londrina Shadow;
  font-weight: bolder;
}

h2 {
  font-family: Londrina Shadow;
  font-weight: bolder;
}
body {
    background-image: url("../image/grandcanyon.jpg");
    background-repeat: repeat;
    background-size: stretch;
}

nav {
  color: white;
  font-weight: bolder;
}

.tech-stack {
    text-align: center;
    padding: 5px 0;
    padding-bottom: 10px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
  }

.about {
    text-align: center;
    padding: 2px 0;
}

.stack-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 35px;
  }

.icon {
    width: 60px;
    height: 60px;
}

.row {
    padding: 0px;
}

.dropdown-item {
    color: white;
}

.self-image {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  margin-bottom: 10px;
}

.portfolio {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}